@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Colors */
  --primary-color: #c8b700;
  --base-color-01: #051a2f;

  /* Shadow */
  --shadow-01: 0 0 0 4px #efeeea;
  --shadow-02:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --shadow-03:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --shadow-04:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  --shadow-05: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Sora", sans-serif;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
  background-color: #efeeea;
  color: var(--base-color-01);
}

.container {
  max-width: 116rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.grained-bg {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.04;
  background: url(/images/noise.gif);
  z-index: 9;
}

.marquee .rfm-marquee-container {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  user-select: none;
  overflow: hidden;
}

.marquee .rfm-marquee-container::-webkit-scrollbar {
  display: none;
}

.mask-reveal {
  -webkit-mask-image: linear-gradient(90deg, #fff 33.33%, transparent 66.66%);
  mask-image: linear-gradient(90deg, #fff 33.33%, transparent 66.66%);
  -webkit-mask-size: 300% 100%;
  mask-size: 300% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  will-change:
    mask-position,
    -webkit-mask-position;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* Projects Image Scale3d */

.scale3d-hover {
  transition: all 0.5s;
}
.scale3d-hover:hover {
  transform: scale3d(1.025, 1.025, 1.025);
}
